.error {
    color: red;
    padding: 3px;
    display: none;
}

.input-custom:invalid[focused="true"]~span {
    display: block;
}

th.sorted-asc::after {
    content: " ▲";
}

th.sorted-desc::after {
    content: " ▼";
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

/* Tạo hiệu ứng hover khi di chuột vào ô select */
.custom-select:hover {
    border-color: #999;
}

/* Tạo hiệu ứng focus khi ô select được chọn */
.custom-select:focus {
    border-color: #007bff;
    outline: none;
}

/* Tạo kiểu cho nhãn của ô select */
.spec-label {
    font-weight: bold;
    margin-right: 10px;
}


 .RESERVING {
     background: yellow; /* Màu nền là màu vàng */
     border: yellow; /* Màu viền là màu vàng */
     font-weight: bold; /* Độ đậm chữ */
     color: black; /* Màu chữ là màu đen */
 }
.DEPOSITED{
    background: aquamarine;
    border: aquamarine;
    font-weight: bold;
}

.PAID{
    background: darkslateblue;
    border: darkslateblue;
    color: whitesmoke;
    font-weight: bold;
}


.notify span{font-size: 15px; color: blue;}


.avatar-preview{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1em;
}

.image-container img {
    max-width: 100px; /* Đặt kích thước tối đa cho chiều ngang */
    max-height: 100px; /* Đặt kích thước tối đa cho chiều cao */
}

