<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{layoutUser::header-link}"></th:block>
    <th:block th:replace="~{layoutUser::my-navbar}"></th:block>
</head>

<body>
<th:block th:fragment="my-banner">
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/assets/user/images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">There was an error:<br>
                            !!! SOMETHING WRONG !!!</h1>
                        <p style="font-size: 18px;">This error occurs when the server understands the request,
                            but you don't have the necessary permissions to access the requested resource (Errors).</p>
                        <a href="https://vimeo.com/45830194"
                           class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="myFooter">
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>Rental</span></a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class=" "><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class=" "><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class=" "><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Services</a></li>
                            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Customer Support</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                            <li><a href="#" class="py-2 d-block">How it works</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                                </li>
                                <li><a href="#"><span class="icon icon-phone"></span><span
                                        class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>
</th:block>

<th:block th:fragment="myScript">
    <script src="/assets/user/js/jquery.min.js"></script>
    <script src="/assets/user/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/assets/user/js/popper.min.js"></script>
    <script src="/assets/user/js/bootstrap.min.js"></script>
    <script src="/assets/user/js/jquery.easing.1.3.js"></script>
    <script src="/assets/user/js/jquery.waypoints.min.js"></script>
    <script src="/assets/user/js/jquery.stellar.min.js"></script>
    <script src="/assets/user/js/owl.carousel.min.js"></script>
    <script src="/assets/user/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/user/js/aos.js"></script>
    <script src="/assets/user/js/jquery.animateNumber.min.js"></script>
    <script src="/assets/user/js/bootstrap-datepicker.js"></script>
    <script src="/assets/user/js/jquery.timepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <script src="/assets/user/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
    <script src="/assets/user/js/main.js"></script>
<script>
    toastr.options = {
        closeButton: true,
        progressBar: true,
        positionClass: 'toast-top-right',
        timeOut: 1000
    };
</script>

<script>
        var socket = new SockJS('/ws');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            // stompClient.subscribe('/message/public', function (notification) {
            //     // Handle received notifications
            //     var message = JSON.parse(notification.body);
            //     alert('Received Notification: ' + message.content);
            // });
        });
</script>

<script>
        window.onload = async () => {
            await handleLogBtn();
        }
        async function handleLogBtn() {
            let customer = await getCurrentCustom();
            console.log(customer);

            const loginBtn = document.getElementById("log-btn");
            const eRegisterLi = document.getElementById("menu-register");

            if (customer.email === null) {
                loginBtn.innerText = "Login";
                loginBtn.href = "javascript:void(0)"; // Remove the "href" attribute
                loginBtn.onclick = () => {
                    showLogin();
                };
                eRegisterLi.innerHTML= `<a href="/register" class="nav-link">Register</a>`;
            } else {
                loginBtn.innerText = "Logout"; // Change the text for authenticated users
                loginBtn.href = "/logout"; // Update the "href" attribute for logout
                loginBtn.onclick = null; // Remove the click event handler
                eRegisterLi.innerHTML="";
                if(customer.role === "ROLE_ADMIN"){
                    eRegisterLi.innerHTML=`<a href="/home" class="nav-link">Dashboard</a>`;
                }
            }
        }
</script>
    <script>
        async function getCurrentCustom() {
            let res = await fetch("user/api/customer-detail");
            return await res.json();
        }
    </script>

</th:block>

</body>
</html>