<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{layoutUser::header-link}"></th:block>
    <th:block th:replace="~{layoutUser::my-navbar}"></th:block>
</head>

<body>

<th:block th:fragment="my-banner">
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/assets/user/images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">There was an error:<br>
                            !!! SOMETHING WRONG !!!</h1>
                        <p style="font-size: 18px;">This error occurs when the server understands the request,
                            but you don't have the necessary permissions to access the requested resource (Errors).</p>
                        <a href="https://vimeo.com/45830194"
                           class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:replace="~{layoutUser::loginForm}"></th:block>
<th:block th:replace="~{layoutUser::myFooter}">
</th:block>

<th:block th:replace="~{layoutUser::myScript}"></th:block>


<script>
    async function getCurrentCustom() {
        let res = await fetch("user/api/customer-detail");
        return await res.json();
    }
    function showLogin() {
        // $("#exampleModal").show()
        $('#exampleModal').modal('show');
    }

    async function handleLogBtn() {
        let customer = await getCurrentCustom();
        console.log(customer);

        const loginBtn = document.getElementById("log-btn");
        const eRegisterLi = document.getElementById("menu-register");

        if (customer.email === null) {
            loginBtn.innerText = "Login";
            loginBtn.href = "javascript:void(0)"; // Remove the "href" attribute
            loginBtn.onclick = () => {
                showLogin();
            };
            eRegisterLi.innerHTML = `<a href="/register" class="nav-link">Register</a>`;
        } else {
            loginBtn.innerText = "Logout"; // Change the text for authenticated users
            loginBtn.href = "/logout"; // Update the "href" attribute for logout
            loginBtn.onclick = null; // Remove the click event handler
            eRegisterLi.innerHTML = "";
            if (customer.role === "ROLE_ADMIN") {
                eRegisterLi.innerHTML = `<a href="/home" class="nav-link">Dashboard</a>`;
            }
        }
    }

    window.onload = async () => {
        await handleLogBtn();
    }
</script>


</body>
</html>