<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	  <th:block th:replace="~{layoutUser::header-link}"></th:block>
	  <th:block th:replace="~{layoutUser::my-navbar}"></th:block>
  </head>
  <body>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(/assets/user/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pricing <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Pricing</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="car-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th class="bg-primary heading">Per Hour Fee</th>
						        <th class="bg-dark heading">Per Day Fee</th>
						        <th class="bg-black heading">Per Delivery Fee</th>
						      </tr>
						    </thead>
						    <tbody>
							<tr th:each="car : ${cars}">
								<td class="car-image">
									<img th:src="${car.urlImages.get(0)}" style="width: 250px; height: 150px">
								</td>
								<td class="product-name">
									<h3 th:text="${car.name}" style="font-weight: bold"></h3>
									<p>
										<span>Agency:</span>
										<span th:text="${car.agency}"></span>
									</p>
								</td>
								<td class="price">
									<p class="btn-custom">
										<a th:href="'/car-detail/' + ${car.id}">Rent a car</a>
									</p>
									<div class="price-rate">
										<h3>
                    <span class="num">
                        <small class="currency">$</small>
                        <span th:text="${car.priceHours}"></span>
                    </span>
											<span class="per">/ hour</span>
										</h3>
<!--										<span class="subheading">$3/hour fuel surcharges</span>-->
									</div>
								</td>
								<td class="price">
									<p class="btn-custom">
										<a th:href="'/car-detail/' + ${car.id}">Rent a car</a>
									</p>
									<div class="price-rate">
										<h3>
                    <span class="num">
                        <small class="currency">$</small>
                        <span th:text="${car.priceDays}"></span>
                    </span>
											<span class="per">/ day</span>
										</h3>
<!--										<span class="subheading">$3/hour fuel surcharges</span>-->
									</div>
								</td>
								<td class="price">
									<p class="btn-custom">
										<a th:href="'/car-detail/' + ${car.id}">Rent a car</a>
									</p>
									<div class="price-rate">
										<h3>
                    <span class="num">
                        <small class="currency">$</small>
                        <span th:text="${car.priceDelivery}"></span>
                    </span>
											<span class="per">/Km delivery</span>
										</h3>
<!--										<span class="subheading">$3/hour fuel surcharges</span>-->
									</div>
								</td>
							</tr>

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>


	  <th:block th:replace="~{layoutUser.html:: loginForm}"></th:block>

	  <th:block th:replace="~{layoutUser.html:: myFooter}"></th:block>

	  <th:block th:replace="~{layoutUser.html::myScript}"></th:block>
	<script>
		document.getElementById("menu-pricing").classList.add("active");
		document.getElementById("menu-home").classList.remove("active");
	</script>
<script>
	window.onload = async () => {
		await handleLogBtn();
	}
	async function handleLogBtn() {
		let customer = await getCurrentCustom();
		console.log(customer);

		const loginBtn = document.getElementById("log-btn");
		const eRegisterLi = document.getElementById("menu-register");

		if (customer.email === null) {
			loginBtn.innerText = "Login";
			loginBtn.href = "javascript:void(0)"; // Remove the "href" attribute
			loginBtn.onclick = () => {
				showLogin();
			};
			eRegisterLi.innerHTML= `<a href="/register" class="nav-link">Register</a>`;
		} else {
			loginBtn.innerText = "Logout"; // Change the text for authenticated users
			loginBtn.href = "/logout"; // Update the "href" attribute for logout
			loginBtn.onclick = null; // Remove the click event handler
			eRegisterLi.innerHTML="";
			if(customer.role === "ROLE_ADMIN"){
				eRegisterLi.innerHTML=`<a href="/home" class="nav-link">Dashboard</a>`;
			}
		}
	}
</script>

  <script>
	  async function getCurrentCustom() {
		  let res = await fetch("user/api/customer-detail");
		  return await res.json();
	  }
  </script>

  </body>

</html>