.bg-dark-blue {
    background-color: #002b55;
}

#search-car-form {
    width: 100%;
}

input[type="datetime-local" i] {
    /* Set the icon's color */
    color: white !important;
}

.navbar-brand {
    font-size: 25px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 17px;
}

.ftco-navbar-light {
    background-color: #002b55 !important;
    top: 0;
}

.hero-wrap {
    margin-top: 70px;
}

#poster {
    width: 650px;
    height: 450px;
}

.sub-img {
    height: 215px;
    width: 100%;
}
.detail-img{
    border-radius: 20px;
}
.features span {
    margin-right: 20px!important;
    font-size: 20px!important;
    color: #00cc00;
}
